body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.nav-bar-top-row {
  padding-top: 2%;
  padding-bottom: 2%;
}
.nav-brand-name {
  font-size: 3em;
  color: #29465f;
  font-style: italic;
}
.nav-call-us {
  font-size: 2em;
  color: #457393;
  font-weight: 600;
}
.call-us-text {
  font-weight: 300;
  font-size: 0.75em;
  font-style: italic;
}
.navbar-nav a {
  color: rgb(226, 226, 226);
}
.navbar-nav a:hover {
  color: #fff;
  text-decoration: none;
}
.item-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.land-desc-box {
  padding: 2%;
  text-align: center;
  color: #fff;
  min-height: 18em;
  max-height: 18em;
}
.land-desc-box-1 {
  background-color: #2f87a6;
}
.land-desc-box-2 {
  background-color: #c7b29b;
}
.land-desc-box-3 {
  background-color: #457393;
}
.land-desc-box-4 {
  background-color: #29465f;
}
.land-desc-title {
  font-size: 1.25em;
  font-weight: 500;
}
.land-desc-img {
  font-size: 2.5em;
  padding: 5%;
}
.land-desc-desc {
  font-size: 0.75em;
}
.professional-tag {
  font-size: 6em;
  font-weight: 500;
  padding-top: 5%;
}

.professional-desc {
  font-size: 3em;
  font-weight: 400;
  padding-bottom: 5%;
}

.desc-topic {
  font-size: 1.5em;
  padding-bottom: 5%;
}
.testermonial-box {
  border: 1px solid #29465f;
  border-radius: 10px;
  background-color: #daebf8;
  color: #29465f;
  margin: 0 2% 0 2%;
  padding: 5% 0 5% 0;
}
.testermo-name {
  font-size: 1.5em;
}
.testermo-quot {
  font-size: 2em;
}
.testermo-desc {
  font-size: 1em;
  font-style: italic;
}
.cleaning-service-desc {
  padding-bottom: 5%;
}
.cleaning-service-img {
  font-size: 3em;
  color: #2f87a6;
}
.cleaning-service-point-img {
  color: #c7b29b;
}

.carousel-inner {
  min-height: 30;
  max-height: 35vw;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-inner .item {
  width: 100%;
  height: 100%;
}
.header-color {
  color: #2f87a6;
}
.about-us-row {
  background-color: #2f87a6;
  color: #fff;
  font-size: 1em;
  padding-bottom: 2%;
}
.intro-name {
  font-size: 2.5em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.navbar-default {
  border: none;
  background-color: #222222;
  background-image: none;
  margin: 0;
  color: #fff;
  border-radius: 0;
}
.navbar-default .navbar-brand {
  color: #f0f0f0f0;
  text-shadow: none;
}
.navbar-default .navbar-nav > li > a {
  color: #b1b1b1;
  text-shadow: none;
}
.round-div-color {
  background-color: #b1b1b1;
  width: 50%;
  font-size: 3em;
}
.center {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.enquire-content {
  background-color: #2f87a6;
  color: #ffffff;
  padding: 1em;
}
.enquire-title {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: italic;
}
.enquire-content label {
  width: 100%;
  margin-bottom: 1em;
}
.enquire-content input {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  border: none;
  font-weight: 400;
  color: #444444;
}
.enquire-content textarea {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  border: none;
  font-weight: 400;
  resize: none;
  color: #444444;
}
.enquire-submit {
  background-color: #29465f;
  color: #ffffff !important;

  margin-bottom: 2em;
  border: 1px solid #ffffff !important;
}
.enquire-submit:hover {
  background-color: #2f87a6;
}
.about-us-row a {
  color: #e2f1f7;
  font-weight: 500;
  text-decoration: underline;
}
.services-content-row {
  height: 15vw;
  margin-bottom: 2em;
}
.service-img-col {
  padding: 0;
  display: flex;
  height: 100%;
}
.service-img {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.service-title {
  font-size: 2em;
  font-weight: 500;
  color: #2f87a6;
}
.service-desc {
  font-size: 1em;
  color: #29465f;
  padding-top: 1em;
}
.testimonial-desc {
  text-align: justify;
  margin-top: 0.5em;
  margin-right: 2em;
  font-style: italic;
}
.text-theme-color {
  color: #29465f;
}
.mobile-landing-page {
  display: none;
}
.navbar .nav-bar-logo {
  width: 15em;
}
.layout-page {
  width: 100vw !important;
  margin: 0 !important;
}
.layout-page .layout-page-block {
  min-height: 100vh;
}
.layout-page .header-block {
  height: 90vh;
  min-height: 800px;
  background: url('./images/slider7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.layout-page .location-block {
  height: 100vh;
  min-height: 800px;
  background: url('./images/locations.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn-default {
  background-color: #29465f !important;
  border-color: #29465f !important;
  color: #ffffff !important;
  border-radius: 20px !important;
  width: 10em !important;
}
.testimonial-container {
  padding-top: 2em;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  color: #afafaf;
  font-size: 0.9em;
  min-height: 20em;
  max-height: 20em;
}
.testimonial-comment-container {
  min-height: 10em;
  max-height: 1em;
  justify-content: flex-start;
}
.header-block .header-block-logo {
  width: 20%;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .professional-desc {
    font-size: 1em;
  }
  .professional-tag {
    font-size: 2em;
  }
  .carousel {
    display: none;
  }
  .service-img-col {
    height: auto;
    width: 100%;
  }
  .land-desc-box {
    min-height: none;
    max-height: none;
  }
  .container .item-col {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }
  .container .cleaning-services-col {
    padding-left: 2em;
  }
  .intro-name {
    font-size: 2.5em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
  }
  .navbar .nav-bar-logo {
    width: 8em;
  }
  .layout-page .header-block {
    height: 100vh;
    min-height: 100vh;
  }
  .layout-page .header-block {
    background-attachment: scroll;
  }
  .layout-page .location-block {
    background-attachment: scroll;
  }
  .sticky-top {
    position: relative !important;
  }
  .testimonial-container {
    font-size: 1em;
    min-height: fit-content;
    max-height: fit-content;
  }
  .testimonial-comment-container {
    min-height: fit-content;
    max-height: fit-content;
  }
  .header-block .header-block-logo {
    width: 50%;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 10px;
  }
}
